<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Transporte</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="nav-buttons">
            <a th:href="@{/}" class="nav-btn nav-btn-danger">
                <i class="fa-solid fa-right-from-bracket icon"></i> 
                <b>Cerrar Sesión</b>
            </a>
            <a th:href="@{/index}" class="nav-btn nav-btn-primary">
                <i class="fa-solid fa-house icon"></i>  
                <b>Inicio</b>
            </a>
        </div>
        <details>
            <summary><b>Gestión de Usuarios</b></summary>
            <a th:href="@{/users/select}">
                <div class="nav-item"><span>Ver Usuarios</span></div>
            </a>
            <a th:href="@{/users/assigned}">
                <div class="nav-item"><span>Vehiculos Asignados</span></div>
            </a>
            <a th:href="@{/users/register}">
                <div class="nav-item"><span>Registrar Usuario</span></div>
            </a>
            <a th:href="@{/users/update}">
                <div class="nav-item"><span>Actualizar Usuario</span></div>
            </a>
            <a th:href="@{/users/delete}">
                <div class="nav-item"><span>Eliminar Usuario</span></div>
            </a>
        </details>
        <details>
            <summary><b>Gestión de Vehículos</b></summary>
            <a th:href="@{/vehicles/select}">
                <div class="nav-item"><span>Ver Vehículos</span></div>
            </a>
            <a th:href="@{/vehicles/register}">
                <div class="nav-item"><span>Registrar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/update}">
                <div class="nav-item"><span>Actualizar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/delete}">
                <div class="nav-item"><span>Eliminar Vehículo</span></div>
            </a>
        </details>            
        <details open>
            <summary><b>Gestión de Viajes</b></summary>
            <a th:href="@{/trips/select}">
                <div class="nav-item"><span>Ver Viajes</span></div>
            </a>
            <a th:href="@{/trips/register}">
                <div class="nav-item"><span>Registrar Viaje</span></div>
            </a>
            <a th:href="@{/trips/update}">
                <div class="nav-item"><span>Actualizar Viaje</span></div>
            </a>
            <a th:href="@{/trips/delete}">
                <div class="nav-item active"><span>Eliminar Viaje</span></div>
            </a>
        </details>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="main-content">
                <div class="tab-content">
                    <h2 id="main-title">Eliminar Viaje</h2>
                    <form id="form-type" th:object="${tripDTO}" method="POST">
                        <div class="search-container">
                            <div class="form-group" style="flex: 1; margin-bottom: 20px;">
                                <label for="conductor-id">ID del viaje:</label>
                                <div style="display: flex; gap: 10px;">
                                    <input type="number" id="conductor-id" class="form-control" placeholder="Ingrese el ID" th:field="*{tripId}" required>
                                    <button type="submit" th:formaction="@{/trips/delete/search}" class="btn nav-primary" style="display: flex; align-items: center; justify-content: center; height: 42px;">
                                        <i class="fa-solid fa-magnifying-glass icon"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 12px; margin-bottom: 15px; font-size: 0.9em;">
                            <h4 style="border-bottom: 1px solid #eee; padding-bottom: 8px; margin-bottom: 10px; font-size: 1em;">Información del Viaje</h4>
                            
                            <div style="display: grid; grid-template-columns: repeat(2, 3fr); gap: 8px;">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label><strong>Id del viaje: </strong> <span id="info-lugar-origen" th:text="*{tripFound.tripId} ?: '---'">---</span></label>
                                </div>

                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label><strong>Lugar de Origen: </strong> <span id="info-lugar-origen" th:text="*{tripFound.origin} ?: '---'">---</span></label>
                                </div>
                                
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label><strong>Lugar Destino: </strong> <span id="info-luga-destino" th:text="*{tripFound.destination} ?: '---'">---</span></label>
                                </div>
                                
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label><strong>Fecha del Viaje: </strong> <span id="info-fecha-viaje" th:text="${tripFound.date} ?: '---'">---</span></label>
                                </div>
                                
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label><strong>ID Conductor: </strong> <span id="info-id-conductor" th:text="${tripFound.driverDTO.personId} ?: '---'">---</span></label>
                                </div>
                                
                                <div class="form-group" style="margin-bottom: 5px; grid-column: span 2;">
                                    <label><strong>ID Vehiculo: </strong> <span id="info-id-vehiculo" th:text="${tripFound.vehicleDTO.vehicleId} ?: '---'">---</span></label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="btn-container">
                            <button type="submit"  th:formaction="@{/todoit}" class="btn btn-danger" style="background-color: #e74c3c;">Eliminar Viaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
