<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Transporte</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="nav-buttons">
            <a th:href="@{/logout}" class="nav-btn nav-btn-danger">
                <i class="fa-solid fa-right-from-bracket icon"></i> 
                <b>Cerrar Sesión</b>
            </a>
            <a th:href="@{/}" class="nav-btn nav-btn-primary">
                <i class="fa-solid fa-house icon"></i>  
                <b>Inicio</b>
            </a>
        </div>
        
        <details sec:authorize="hasRole('DRIVER')">
            <summary><b>Vehículos</b></summary>
            <a th:href="@{/users/assigned}">
                <div class="nav-item"><span>Vehiculos Asignados</span></div>
            </a>
        </details>
        <details sec:authorize="hasRole('ADMIN')" open>
            <summary><b>Gestión de Usuarios</b></summary>
            <a th:href="@{/users/select}">
                <div class="nav-item"><span>Ver Usuarios</span></div>
            </a>
            <a th:href="@{/users/assigned}">
                <div class="nav-item"><span>Vehiculos Asignados</span></div>
            </a>
            <a th:href="@{/users/register}">
                <div class="nav-item"><span>Registrar Usuario</span></div>
            </a>
            <a th:href="@{/users/update}">
                <div class="nav-item"><span>Actualizar Usuario</span></div>
            </a>
            <a th:href="@{/users/delete}">
                <div class="nav-item active"><span>Eliminar Usuario</span></div>
            </a>
        </details>
        <details sec:authorize="hasRole('ADMIN')">
            <summary><b>Gestión de Vehículos</b></summary>
            <a th:href="@{/vehicles/select}">
                <div class="nav-item"><span>Ver Vehículos</span></div>
            </a>
            <a th:href="@{/vehicles/register}">
                <div class="nav-item"><span>Registrar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/update}">
                <div class="nav-item"><span>Actualizar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/delete}">
                <div class="nav-item"><span>Eliminar Vehículo</span></div>
            </a>
        </details>            
        <details>
            <summary><b>Gestión de Viajes</b></summary>
            <a th:href="@{/trips/select}">
                <div class="nav-item"><span>Ver Viajes</span></div>
            </a>
            <a th:href="@{/trips/register}" sec:authorize="hasRole('ADMIN')">
                <div class="nav-item"><span>Registrar Viaje</span></div>
            </a>
            <a th:href="@{/trips/update}" sec:authorize="hasRole('ADMIN')">
                <div class="nav-item"><span>Actualizar Viaje</span></div>
            </a>
            <a th:href="@{/trips/delete}" sec:authorize="hasRole('ADMIN')">
                <div class="nav-item"><span>Eliminar Viaje</span></div>
            </a>
        </details>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="main-content">
                <div class="tab-content">
                    <h2 id="main-title">Eliminar Conductor</h2>
                    <form id="form-type" th:object="${userDTO}" method="POST">
                        <div class="search-container">
                            <div class="form-group" style="flex: 1; margin-bottom: 20px;">
                                <label for="conductor-id">ID del usuario:</label>
                                <div style="display: flex; gap: 10px;">
                                    <input type="number" id="conductor-id" class="form-control" placeholder="Ingrese el ID" th:field="*{personId}" required>
                                    <button type="submit" th:formaction="@{/users/delete/search}" class="btn nav-primary" style="display: flex; align-items: center; justify-content: center; height: 42px;">
                                        <i class="fa-solid fa-magnifying-glass icon"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                        <div style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 20px; margin-bottom: 15px; font-size: 1em; width: 100%; max-width: 700px;">
                            <h4 style="border-bottom: 1px solid #eee; padding-bottom: 8px; margin-bottom: 10px; font-size: 1.2em;">Información del Vehículo</h4>
                            
                            <table style="width: 100%; border-collapse: collapse;">
                               
                                <tr>
                                    <td style="padding: 8px;"><strong>Id usuario:</strong></td>
                                    <td style="padding: 8px;" th:text="${userDTO != null and userDTO.personId != null ? userDTO.personId : '0'}">---</td>
                                </tr>
                                <tr>
                                    <td style="padding: 8px;"><strong>Nombre:</strong></td>
                                    <td style="padding: 8px;" th:text="${userDTO != null and userDTO.name != null ? userDTO.name : '---'}">---</td>
                                </tr>
                                <tr>
                                    <td style="padding: 8px;"><strong>Correo:</strong></td>
                                    <td style="padding: 8px;" th:text="${userDTO != null and userDTO.email != null ? userDTO.email : '---'}"></td>
                                </tr>
                                <tr>
                                    <td style="padding: 8px;"><strong>Rol:</strong></td>
                                    <td style="padding: 8px;" th:text="${userDTO != null and userDTO.roleDTO != null ? userDTO.roleDTO : '---'}">---</td>
                                </tr>
                            </table>
                        </div>
    
                        <form id="delete-form" th:action="@{/users/delete}" method="POST">
                            <input type="hidden" name="userId" th:value="${userDTO != null and userDTO.personId != null ? userDTO.personId : '0'}">
                            <div class="btn-container">
                                <button type="submit" class="btn btn-danger" style="background-color: #e74c3c;">Eliminar Vehículo</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ null;
        if (errorMessage) {
            alert(errorMessage);
        }
        /*]]>*/
    </script>
</body>
</html>
