<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/loginStyles.css}">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form th:action="@{/login}" method="post">
            <div class="input-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Ingresar</button>
            
            <!-- Mensajes de error y éxito estilizados -->
            <div class="message-container">
                <div th:if="${param.error}" class="error-message">
                    Usuario o contraseña incorrectos
                </div>
                <div th:if="${param.logout}" class="success-message">
                    Has cerrado sesión correctamente
                </div>
            </div>
        </form>
    </div>
</body>
</html>
