<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Transporte</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="nav-buttons">
            <a th:href="@{/}" class="nav-btn nav-btn-danger">
                <i class="fa-solid fa-right-from-bracket icon"></i> 
                <b>Cerrar Sesión</b>
            </a>
            <a th:href="@{/index}" class="nav-btn nav-btn-primary">
                <i class="fa-solid fa-house icon"></i>  
                <b>Inicio</b>
            </a>
        </div>
        <details>
            <summary><b>Gestión de Usuarios</b></summary>
            <a th:href="@{/users/select}">
                <div class="nav-item"><span>Ver Usuarios</span></div>
            </a>
            <a th:href="@{/users/assigned}">
                <div class="nav-item"><span>Vehiculos Asignados</span></div>
            </a>
            <a th:href="@{/users/register}">
                <div class="nav-item"><span>Registrar Usuario</span></div>
            </a>
            <a th:href="@{/users/update}">
                <div class="nav-item"><span>Actualizar Usuario</span></div>
            </a>
            <a th:href="@{/users/delete}">
                <div class="nav-item"><span>Eliminar Usuario</span></div>
            </a>
        </details>
        <details>
            <summary><b>Gestión de Vehículos</b></summary>
            <a th:href="@{/vehicles/select}">
                <div class="nav-item"><span>Ver Vehículos</span></div>
            </a>
            <a th:href="@{/vehicles/register}">
                <div class="nav-item"><span>Registrar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/update}">
                <div class="nav-item"><span>Actualizar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/delete}">
                <div class="nav-item"><span>Eliminar Vehículo</span></div>
            </a>
        </details>            
        <details open>
            <summary><b>Gestión de Viajes</b></summary>
            <a th:href="@{/trips/select}">
                <div class="nav-item"><span>Ver Viajes</span></div>
            </a>
            <a th:href="@{/trips/register}">
                <div class="nav-item active"><span>Registrar Viaje</span></div>
            </a>
            <a th:href="@{/trips/update}">
                <div class="nav-item"><span>Actualizar Viaje</span></div>
            </a>
            <a th:href="@{/trips/delete}">
                <div class="nav-item"><span>Eliminar Viaje</span></div>
            </a>
        </details>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="main-content">
                <div class="tab-content">
                    <h2 id="main-title">Registrar Viaje</h2>
                    <form id="form-type" th:object="${tripDTO}" method="POST">
                        <div class="form-group">
                            <label for="origen">Lugar de Origen:</label>
                            <input type="text" id="origen" class="form-control" placeholder="Ingrese el lugar de origen" th:field="*{origin}" required>
                        </div>
                        <div class="form-group">
                            <label for="destino">Lugar de Destino:</label>
                            <input type="text" id="destino" class="form-control" placeholder="Ingrese el lugar de destino" th:field="*{destination}" required>
                        </div>
                        <div class="form-group">
                            <label for="fecha-viaje">Fecha del Viaje:</label>
                            <input type="date" id="fecha-viaje" class="form-control" th:field="*{date}" required>
                        </div>
                        
                        <div style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 15px; margin-bottom: 20px;">
                            <h4 style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 15px;">Asignar vehículo a conductor</h4>
                            
                            <details style="margin-bottom: 15px;">
                                <summary style="background-color:rgb(27, 71, 136); border-radius: 0.3em"><b>Vehículo</b></summary>
                                <div style="padding: 10px; border: 1px solid #ddd; border-top: none; border-radius: 0 0 4px 4px;">
                                    
                                        <div class="search-container">
                                            <div class="form-group" style="margin-bottom: 15px;">
                                                <label for="vehiculo-id">ID del Vehículo:</label>
                                                <div style="display: flex; gap: 10px;">
                                                    <input type="number" id="vehiculo-id" class="form-control" placeholder="Ingrese el ID del vehículo" th:field="*{vehicleId.vehicleId}" name="vehicleId" required>
                                                    <button type="submit" th:formaction="@{/trips/register/searchVehicle}" class="btn nav-primary" style="display: flex; align-items: center; justify-content: center; height: 42px;" formnovalidate>
                                                        <i class="fa-solid fa-magnifying-glass icon"></i>
                                                        Buscar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 12px; margin-bottom: 15px; font-size: 0.9em;" >
                                            <h4 style="border-bottom: 1px solid #eee; padding-bottom: 8px; margin-bottom: 10px; font-size: 1em;">Información del Vehículo</h4>
                                            
                                            <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 8px;">
                                                
                                                <div class="form-group" style="margin-bottom: 5px;">
                                                    <label><strong>Placa:</strong> <span id="info-vehiculo-placa" th:text="${plate} ?: '---'">---</span></label>
                                                </div>
                                                
                                                <div class="form-group" style="margin-bottom: 5px;">
                                                    <label><strong>Modelo:</strong> <span id="info-vehiculo-modelo" th:text="${model} ?: '---'">---</span></label>
                                                </div>
                                                
                                                <div class="form-group" style="margin-bottom: 5px;">
                                                    <label><strong>Año:</strong> <span id="info-vehiculo-anio" th:text="${year} ?: '---'">---</span></label>
                                                </div>
                                                
                                                <div class="form-group" style="margin-bottom: 5px; grid-column: span 2;">
                                                    <label><strong>Tipo de Vehículo:</strong> <span id="info-vehiculo-tipo" th:text="${vehicleType} ?: '---'">---</span></label>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </details>
                            
                            <details>
                                <summary style="background-color:rgb(27, 71, 136); border-radius: 0.3em"><b>Conductor<b></summary>
                                <div style="padding: 10px; border: 1px solid #ddd; border-top: none; border-radius: 0 0 4px 4px;">
                                    
                                    <div class="search-container">
                                        <div class="form-group" style="margin-bottom: 15px;">
                                            <label for="conductor-id">ID del conductor:</label>
                                            <div style="display: flex; gap: 10px;">
                                                <input type="number" id="conductor-id" class="form-control" placeholder="Ingrese el ID del conductor" th:field="*{driverId.personId}" required>
                                                <button type="submit" th:formaction="@{/trips/register/searchDriver}" class="btn nav-primary" style="display: flex; align-items: center; justify-content: center; height: 42px;"  formnovalidate>
                                                    <i class="fa-solid fa-magnifying-glass icon"></i>
                                                    Buscar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    <div style="background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; padding: 12px; margin-bottom: 15px; font-size: 0.9em;">
                                        <h4 style="border-bottom: 1px solid #eee; padding-bottom: 8px; margin-bottom: 10px; font-size: 1em;">Información del Conductor</h4>
                                            
                                        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 8px;">
                                            <div class="form-group" style="margin-bottom: 5px;">
                                                <label><strong>Nombres:</strong> <span id="info-conductor-nombres" th:text="${name} ?: '---'" >---</span></label>
                                            </div>
                                                
                                            <div class="form-group" style="margin-bottom: 5px;">
                                                    <label><strong>Rol:</strong> <span id="info-conductor-rol" th:text="${role} ?: '---'">---</span></label>
                                            </div>
                                                
                                            <div class="form-group" style="margin-bottom: 5px; grid-column: span 2;">
                                                <label><strong>Email:</strong> <span id="info-conductor-email" th:text="${email} ?: '---'">---</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </details>
                        </div>
                        <div class="btn-container">
                            <button type="submit" th:formaction="@{/trips/register}" class="btn btn-success" >Registrar Viaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ null;
        if (errorMessage && errorMessage.trim() !== "") {
            alert(errorMessage);
        }
        /*]]>*/
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("details").forEach((detail, index) => {
                const isOpen = localStorage.getItem("detail-" + index) === "true";
                if (isOpen) {
                    detail.setAttribute("open", "true");
                }
                detail.addEventListener("toggle", function () {
                    localStorage.setItem("detail-" + index, detail.open);
                });
            });
        });
    </script>
</body>
</html>