<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Transporte</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="nav-buttons">
            <a th:href="@{/logout}" class="nav-btn nav-btn-danger">
                <i class="fa-solid fa-right-from-bracket icon"></i> 
                <b>Cerrar Sesión</b>
            </a>
            <a th:href="@{/}" class="nav-btn nav-btn-primary">
                <i class="fa-solid fa-house icon"></i>  
                <b>Inicio</b>
            </a>
        </div>
        <form sec:authorize="hasRole('USER')" th:action="@{vehicles/assigned/user}" method="get">
            <input type="hidden" name="username" th:value="${#authentication.name}">
            <button type="submit" class="nav-item">Vehiculos Asignados</button>
        </form>
        <details sec:authorize="hasRole('ADMIN')">
            <summary><b>Gestión de Usuarios</b></summary>
            <a th:href="@{/users/all}">
                <div class="nav-item active"><span>Ver Usuarios</span></div>
            </a>
            <a th:href="@{/users/assigned}">
                <div class="nav-item"><span>Vehiculos Asignados</span></div>
            </a>
            <a th:href="@{/users/register}">
                <div class="nav-item"><span>Registrar Usuario</span></div>
            </a>
            <a th:href="@{/users/update}">
                <div class="nav-item"><span>Actualizar Usuario</span></div>
            </a>
            <a th:href="@{/users/delete}">
                <div class="nav-item"><span>Eliminar Usuario</span></div>
            </a>
        </details>
        <details sec:authorize="hasRole('ADMIN')">
            <summary><b>Gestión de Vehículos</b></summary>
            <a th:href="@{/vehicles/select}">
                <div class="nav-item"><span>Ver Vehículos</span></div>
            </a>
            <a th:href="@{/vehicles/register}">
                <div class="nav-item"><span>Registrar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/update}">
                <div class="nav-item"><span>Actualizar Vehículo</span></div>
            </a>
            <a th:href="@{/vehicles/delete}">
                <div class="nav-item"><span>Eliminar Vehículo</span></div>
            </a>
        </details>            
        <details>
            <summary><b>Gestión de Viajes</b></summary>
            <a th:href="@{/trips/select}">
                <div class="nav-item"><span>Ver Viajes</span></div>
            </a>
            <a th:href="@{/trips/register}" sec:authorize="hasRole('ADMIN')">
                <div class="nav-item"><span>Registrar Viaje</span></div>
            </a>
            <a th:href="@{/trips/update}" sec:authorize="hasRole('ADMIN')">
                <div class="nav-item"><span>Actualizar Viaje</span></div>
            </a>
            <a th:href="@{/trips/delete}" sec:authorize="hasRole('ADMIN')">
                <div class="nav-item"><span>Eliminar Viaje</span></div>
            </a>
        </details>
    </div>
    <div class="container">
        <div class="content-container">
            <div class="main-content">
                <h2 id="main-title">Ver usuarios registrados</h2>  
                <div class="tab-content">
                    <form id="form-type" th:action="@{/users/select/search}" th:object="${userDTO}" method="POST">
                        <div class="search-container">
                            <div class="form-group" style="flex: 1; margin-bottom: 20px;">
                                <label for="usuario-id">ID del usuario:</label>
                                <div style="display: flex; gap: 10px;">
                                    <input type="number" id="usuario-id" class="form-control" placeholder="Ingrese el ID del usuario" th:field="*{personId}" required>
                                    <button type="submit" class="btn nav-primary" style="display: flex; align-items: center; justify-content: center; height: 42px;">
                                        <i class="fa-solid fa-magnifying-glass icon"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <h2>Estos son los usuarios registrados...</h2> 
                    <div th:each="user : ${userList}" class="driver-container">
                        <p class="assignSpecial"><strong>ID:</strong> <span th:text="${user.personId}"></span></p>
                        <p><strong>Rol:</strong> <span th:text="${user.roleDTO}"></span></p>
                        <p><strong>Nombres:</strong> <span th:text="${user.name}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ null;
        if (errorMessage) {
            alert(errorMessage);
        }
        /*]]>*/
    </script>
</body>
</html>
